<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>

        <link rel = "stylesheet" href = "CreateReview.css">
    </head>
    <body>
        <div class = "MainDiv" >
            <div class = "Header" >
                <ul class = "HeaderList"  >
                    <li class = "Home"  >
                        <a href = "/">REVIEWS</a>
                    </li>
                    <li class = "Create Review" >
                        <a href = "/CreateReview">CREATE REVIEW</a>
                    </li>
                    <li class = "Review Controll" >
                        <a href = "/ReviewControll">REVIEW CONTROLL</a>
                    </li>
                    <li class = "Login" >
                        LOGIN
                    </li>
                </ul>
            </div>
            <div class = "CreateReviewBody">
                <h1 class = "CreateReviewBodyTitle">CREATE REVIEW</h1>
                    <div class = "CreateReviewPage">
                        <ul class = "CreateElementList">
                            <button class = "ElementListInc">+</button>
                            <button class = "ElementListDec">-</button>
                            <li class = "firstLi">
                                <h5 class = "CreateElementName">CreateElement Name</h5>
                                <textarea></textarea>
                                <button class = "SubElementListInc">+</button>
                                <button class = "SubElementListDec">-</button>
                                <ul class = "SubCreateElementList">
                                    <li>
                                        <h5 class = "SubCreateElementName">SubCreateElement Name</h5>
                                        <ul class = "ProsList">
                                            <button class = "ProsListInc">+</button>
                                            <button class = "ProsListDec">-</button>
                                            <li>
                                                <input>
                                            </li>
                                        </ul>
                                        <ul class = "ConsList">
                                            <button class = "ConsListInc">+</button>
                                            <button class = "ConsListDec">-</button>
                                            <li>
                                                <input>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class = "Outcome">
                        <div class = "OverallScore">
                            <p>100</p>
                        </div>
                        <div class = "OverallPanel">
                            <p>Overall Summary</p>
                            <textarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>