<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>

        <link rel = "stylesheet" href = "DetailPage.css">
    </head>
    <body>
        <div class = "MainDiv" >
            <div class = "Header" >
                <ul class = "HeaderList"  >
                    <li class = "Home"  >
                        <a href = "/">REVIEWS</a>
                    </li>
                    <li class = "Create Review" >
                        <a href = "/CreateReview">CREATE REVIEW</a>
                    </li>
                    <li class = "Review Controll" >
                        <a href = "/ReviewControll">REVIEW CONTROLL</a>
                    </li>
                    <li class = "Login" >
                        LOGIN
                    </li>
                </ul>
            </div>
            <div class = "DetailBody">
                <h1 class = "DetailBodyTitle">NAME OF REVIEW</h1>
                    <div class = "OverallPanel">
                        <div class = "OverallSummary">Overall Summary</div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class = "DetailPage">
                        <ul class = "ElementList">
                            <li>
                                <h5 class = "ElementName">Element Name</h5>
                                <p class = "ElementSummary">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <ul class = "SubElementList">
                                    <li>
                                        <h5 class = "SubElementName">SubElement Name</h5>
                                        <ul class = "ProsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                        <ul class = "ConsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h5 class = "SubElementName">SubElement Name</h5>
                                        <ul class = "ProsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                        <ul class = "ConsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class = "ElementName">Element Name</h5>
                                <p class = "ElementSummary">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <ul class = "SubElementList">
                                    <li>
                                        <h5 class = "SubElementName">SubElement Name</h5>
                                        <ul class = "ProsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                        <ul class = "ConsList">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class = "OverallScore">
                            <p class = "Score">100</p>
                            <p class = "Blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class = "CommentSection">
                            <div class = "CommentInput">
                                <h3>Comments</h3>
                                <textarea></textarea>
                                <button>Submit</button>
                            </div>
                            <div class = "CommentLayout">
                                <div class = "CommentPanel">
                                    <div class = "CommentHeaderInfo">
                                        <p class = "Commenter">Commentor</p>
                                        <p class = "Time">Time Posted</p>
                                    </div>
                                    <div class = "CommentBody">
                                        <p class = "Comment">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                                <div class = "CommentPanel">
                                    <div class = "CommentHeaderInfo">
                                        <p class = "Commenter">Commentor</p>
                                        <p class = "Time">Time Posted</p>
                                    </div>
                                    <div class = "CommentBody">
                                        <p class = "Comment">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>