<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>

        <link rel = "stylesheet" href = "index.css">
    </head>
    <body>
        <div class = "MainDiv" >
            <div class = "Header" >
                <ul class = "HeaderList"  >
                    <li class = "Home"  >
                        <a href = "/">REVIEWS</a>
                    </li>
                    <li class = "Create Review" >
                        <a href = "/CreateReview">CREATE REVIEW</a>
                    </li>
                    <li class = "Review Controll" >
                        <a href = "/ReviewControll">REVIEW CONTROLL</a>
                    </li>
                    <li class = "Login" >
                        LOGIN
                    </li>
                </ul>
            </div>
            <div class = "ReviewBody">
                <h1 class = "ReviewBodyTitle">REVIEWS</h1>
                <a href = "/DetailPage">
                    <div class = "ReviewCard">
                        <ul class = "ReviewCardHeaderInfo">
                            <li class = "Name">Name of Review</li>
                            <li class = "Date">02/04/2022</li>
                            <li class = "Time">4:54 PM</li>
                        </ul>
                        <div class = "ReviewCardSummary">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <ul class = "ReviewCardFooterInfo">
                            <li class = "CommentNum">40</li>
                            <li class = "Poster">Poster</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>