<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>

        <link rel = "stylesheet" href = "ReviewControll.css">
    </head>
    <body>
        <div class = "MainDiv" >
            <div class = "Header" >
                <ul class = "HeaderList"  >
                    <li class = "Home"  >
                        <a href = "/">REVIEWS</a>
                    </li>
                    <li class = "Create Review" >
                        <a href = "/CreateReview">CREATE REVIEW</a>
                    </li>
                    <li class = "Review Controll" >
                        <a href = "/ReviewControll">REVIEW CONTROLL</a>
                    </li>
                    <li class = "Login" >
                        LOGIN
                    </li>
                </ul>
            </div>
            <div class = "ReviewControllBody">
                <div class = "ReviewControllCard">
                    <h1 class = "ReviewControllBodyTitle">REVIEW CONTROLL</h1>
                    <ul class = "ReviewControllList">
                        <li> 
                            <div>
                                <h4>Name of Review</h4>
                                <p>Time Posted</p>
                                <p>Date Posted</p>
                                <p>Poster</p>
                                <button>EDIT</button>
                                <button>DELETE</button>
                            </div>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </body>
</html>